@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-MedIta.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-UltBdIta.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-UltLtIta.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-UltraBold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PowerGrotesk';
    src: url('./assets/fonts/PowerGroteskTrial-UltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SilverGarden';
    src: url('./assets/fonts/Silver Garden Bold Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SilverGarden';
    src: url('./assets/fonts/Silver Garden Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SilverGarden';
    src: url('./assets/fonts/Silver Garden Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SilverGarden';
    src: url('./assets/fonts/Silver Garden.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

